[submodule "Src/Async.Collections"]
	path = Src/Async.Collections
	url = https://github.com/ulfbou/Async.Collections.git
[submodule "Src/Async.Locks"]
	path = Src/Async.Locks
	url = https://github.com/ulfbou/Async.Locks.git
